.services {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--color-aqua);

  padding: 60px 0;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-gap: 40px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin-top: 100px;
  width: 100%;
}