.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  padding: 50px;

  width: 250px;

  background-color: var(--color-white);

  transition: 0.2s linear all;
}

.service-card:hover {
  background-color: var(--color-green);

  box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);

  color: var(--color-white);
}

.service-card:hover > img {
  filter: invert(1);
}

.service-card__title {
  margin: 15px 0;
}

.service-card__description {
  margin-bottom: 50px;
}

@media screen and (max-width: 400px) {
  .services__card {
      padding: 20px;
  }
}