.title {
  width: 90vw;
  padding-bottom: 60px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title__description {
  width: 60%;
}