.blog {
  width: 100%;
  box-sizing: border-box;

  padding: 100px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-light-green);
}

.blog__ceo {
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}

.blog__button {
  width: fit-content;

  margin-top: 100px;
}