body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(12px + 0.3vw);
}

.root {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

:root {
  --color-green: #00897b;
  --color-light-green: #e4fdf9;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-aqua: #e4fdf9;
  --color-dark-blue: #3949ab;
  --color-gray: #bfbfbf;
  --color-light-gray: #f0f1f1;
}